div {
    justify-self: center;
}

h4 {
    text-decoration: underline;
    font-size: 20px;
}

h5 {
    font-size: 17px;
    font-weight: 400;
}

.section {
    font-size: 35px;
}

.header-block, .footer-block {
    background: seagreen;
    width: 100%;
    padding: 15px;
}

.footer-block {
    padding-top: 50px;
}

.page-header {
    justify-self: center;
    font-size: 55px;
}

.navBar {
    font-size: 2em;
    justify-content: center;
}

.nav-item {
    font-size: 15px;
}

.navbar-brand {
    font-size: 2em;
}

.img-fluid {
    max-width: 50%;
}

.footer {
    padding-bottom: 50px;
}

.profile-image {
    padding-top: 10px;
}

#intro-paragraph {
    max-width: 70%;
    justify-content: center;
    padding-bottom: 200px;
}

#linkedin-img, #linkedin {
    display: inline;
}

#resume-name {
    font-size: 40px;
}