
:root {
    --lg-font: "Zen Dots", sans-serif;
    --sm-font: "Lexend", sans-serif;
    --background-color: #64916D;
}

body {
    background: var(--background-color);
    color: white;
    font-size: 1.25rem;
}

div {
    justify-self: center;
}

p, ul {
    font-family: var(--sm-font);
}

h1, h2, h3 {
    font-family: var(--lg-font);
}

h4 {
    text-decoration: underline;
    font-size: 20px;
    font-family: var(--sm-font);
}

h5 {
    font-size: 19px;
    font-weight: 400;
    font-family: var(--sm-font);
}

ul.resume-list {
    font-size: 17px;
}

.section {
    font-size: 35px;
    border-top: 5px solid black;
    padding-top: 20px;
    
}

.header-block, .footer-block {
    background: black;
    color: white;
    width: 100%;
    padding: 15px;
}

.footer-block {
    padding-top: 50px;
}

.page-header {
    justify-self: center;
    font-size: 55px;
}

.navbar-style {
    align-content: center;
}

.navBar {
    font-size: 2em;
}

.nav-item {
    font-size: 100%;
    margin-bottom: 5px;
}

.nav-item:hover {
    background: var(--background-color);
    border-radius: 15px;
}

.navbar-brand {
    font-size: 2em;
}

.img-fluid {
    max-width: 50%;
}

.footer {
    padding-bottom: 50px;
}

.profile-image {
    padding-top: 10px;
}

.contact-info {
    border-bottom: 5px solid black;
    padding-inline: 200px;
}

.center {
    justify-self: center;
}

.img-border {
    border: 5px solid black;
    border-radius: 25px;
}

.project-image {
    max-width: 80%;
    height: auto;
    display: block;
    margin: auto;
    margin-block: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.farming-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    margin-block: 10px;
}

.farming-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-desc {
    max-width: 60%;
    margin: 0 auto;
}

.unreachable-container {
    max-width: 90%;
    margin: 30px auto;
    justify-content: center;
}

.unreachable-image {
    max-width: 100%;
    height: auto;
    display: block;
    
}

.video-col {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 300px;
}

.website-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    
}

.website-image-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.website-images-container {
    max-width: 100%;
    margin: 30px auto;
}

.entanglement-images-container {
    max-width: 100%;
    margin: 30px auto;
    padding-block: 15px;
}

#intro-paragraph {
    max-width: 30%;
    justify-content: center;
    margin-bottom: 150px;
    font-weight: 300;
}

#linkedin-img, #linkedin {
    display: inline;
}

#resume-name {
    font-size: 40px;
    justify-self: center;
}

#resume {
    max-width: 40%;
}

#website-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}

#unreachable-video {
    min-block-size: 200%;
    min-inline-size: 200%;
}